<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="utf-8" />
    <link href='https://fonts.googleapis.com/css?family=Catamaran' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header>
        <div class="container head">
            <div class="row">
                <div class="col-2">
                    <!-- GOV.UA LOGO-->
                    <div class="govua-logo">
                        <a class="main-logo main-logo-dark" href="http://mtu.gov.ua/">
                            <div class="icon-flag">
                                <div class="yellow"></div>
                                <div class="blue"></div>
                            </div>
                            <div class="wrap-text">
                                <span class="one">gov.ua</span>
                                <span class="light">Державні сайти України</span>
                            </div>
                        </a>
                        <div class="modal-background"></div>
                    </div>
                </div>
                <div class="col-8 header-middle">
                    <img class="image" src="img/Coat_of_Arms_of_Ukraine.png" alt="Coat of Arms">
                    <div class="main-title">Електронний кабінет перевізника</div>
                    <div class="grey">Веб-портал Державної служби України з безпеки на транспорті</div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <!--BUTTON 1-->
                    <div class="sign-in">
                        <h2 class="form-title"> Вхід до кабінету за допомогою ЕЦП</h2>
                        <p class="note">Оберіть файл з особистим ключем (зазвичай з ім'ям Key-6.dat) та зазначте пароль захисту</p>
                        <form class="ecp-signin">
                            <label>Особистий ключ:</label>
                            <div class="input-group">
                                <input type="file" class="file-input">
                                <!-- <label class="file">
                                  <input type="file" id="file" aria-label="File browser example">
                                  <span class="file-custom"></span>
                                </label> -->
                               <!--  <input type="text" class="form-control" disabled="disabled">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Завантажити</button>
                                </span> -->
                        </div>
                        <label>Пароль:</label>
                        <div class="input-group">
                                
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">Увійти</button>
                                </span>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div></div>
    </footer>
</body>