<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="utf-8" />
    <link href='https://fonts.googleapis.com/css?family=Catamaran' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript">
            $(window).ready(function(){
            $('#upload').submit(function(e){
                e.preventDefault();
                var form_data = new FormData;
                var carrrier_name = $('#carrrier_name').val();
                var post_addr = $('#post_addr').val();
                var finans_recviz = $('#finans_recviz').val();
                var edrpoy = $('#edrpoy').val();
                var id_pereviz = $('#id_pereviz').val();
                var ur_addr = $('#ur_addr').val();
                var fact_addr = $('#fact_addr').val();
                var licence = $('#licence').val();
                var nazva_marshruty = $('#nazva_marshruty').val();
                var last_nane = $('#last_nane').val();
                var first_name = $('#first_name').val();
                var second_name = $('#second_name').val();
                var posada = $('#posada').val();
                var emailHelp = $('#exampleInputEmail1').val();
                
                var anketa_prodovj_stroky = document.getElementById('anketa_prodovj_stroky').files[0];
                var vidom_avtobusy = document.getElementById('vidom_avtobusy').files[0];
                var vidom_dodatk_ymovi = document.getElementById('vidom_dodatk_ymovi').files[0];
                var vidom_invest = document.getElementById('vidom_invest').files[0];
                var exampleCheck1 = $('#exampleCheck1:checked').val()
                
                form_data.append("type_of","prod_obl");

                form_data.append("carrrier_name",carrrier_name);
                form_data.append("post_addr",post_addr);
                form_data.append("finans_recviz",finans_recviz);
                form_data.append("edrpoy",edrpoy);
                form_data.append("id_pereviz",id_pereviz);
                form_data.append("ur_addr",ur_addr);
                form_data.append("fact_addr",fact_addr);
                form_data.append("licence",licence);
                form_data.append("nazva_marshruty",nazva_marshruty);
                form_data.append("last_nane",last_nane);
                form_data.append("first_name",first_name);
                form_data.append("second_name",second_name);
                form_data.append("posada",posada);
                form_data.append("emailHelp",emailHelp);
                
                form_data.append("anketa_prodovj_stroky",anketa_prodovj_stroky);
                form_data.append("vidom_avtobusy",vidom_avtobusy);
                form_data.append("vidom_dodatk_ymovi",vidom_dodatk_ymovi);
                form_data.append("vidom_invest",vidom_invest);
                form_data.append("exampleCheck1",exampleCheck1);
                $.ajax({
                url:'http://127.0.0.1:5000/send_mail',
                method:'POST',
                data:form_data,
                contentType:false,
                cache:false,
                processData:false,
                beforeSend:function(e){
                    $('#msg').html('Loading......');
                },
                success:function(data){
                    console.log(data);
                    $('#msg').html(data);
                }
                });
                return false;
            });
        });
        </script>
    <header>
        <div class="container head">
            <div class="row">
                <div class="col-2">
                    <!-- GOV.UA LOGO-->
                    <div class="govua-logo">
                        <a class="main-logo main-logo-dark" href="http://mtu.gov.ua/">
                            <div class="icon-flag">
                                <div class="yellow"></div>
                                <div class="blue"></div>
                            </div>
                            <div class="wrap-text">
                                <span class="one">gov.ua</span>
                                <span class="light">Державні сайти України</span>
                            </div>
                        </a>
                        <div class="modal-background"></div>
                    </div>
                </div>
                <div class="col-8 header-middle">
                    <img class="image" src="{{ url_for('static', filename='img/logo2.png') }}" alt="Coat of Arms">
                    <div class="main-title">Електронне подання документів</div>
                    <div class="grey">Веб-портал Міністерства інфраструктури України</div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="form-title">Заява на продовження строку дії договору (дозволу) з перевезення пасажирів на автобусному маршруті загального користування</h2>
                    <form id="upload">
                        <div class="form-group">
                            <label for="carrrier_name">Назва організації-перевізника *</label>
                            <input type="text" id="carrrier_name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Поштова адреса *</label>
                            <input type="text" id="post_addr" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Фінансові реквізити *</label>
                            <input type="text" id="finans_recviz" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>ЄДРПОУ *</label>
                            <input type="text" id="edrpoy" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Ідентифікаційний номер автомобільного перевізника *</label>
                            <input type="text" id="id_pereviz" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Юридична адреса *</label>
                            <input type="text" id="ur_addr" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Фактична адреса *</label>
                            <input type="text" id="fact_addr" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Номер та дата прийняття рішення щодо видачі ліцензії на здійснення перевезень *</label>
                            <input type="text" id="licence" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Назва маршруту із зазначенням номерів рейсів *</label>
                            <input type="text" id="nazva_marshruty" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Прізвище *</label>
                            <input type="text" id="last_nane" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Ім'я *</label>
                            <input type="text" id="first_name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>По батькові *</label>
                            <input type="text" id="second_name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Посада *</label>
                            <input type="text" id="posada" class="form-control">
                        </div>

                      <div class="form-group">
                        <label for="exampleInputEmail1">Адреса електронної пошти *</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

                      </div>
                      <!-- <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                      </div> -->
                      

                    <div class="form-group files">
                            <label>Анкета для продовження дії договору (дозволу) *</label>
                            <input type="file" id="anketa_prodovj_stroky" class="form-control-file">
                    </div>
                    <div class="form-group files">
                            <label>Відомості про автобуси, які будуть використовуватись на маршруті *</label>
                            <input type="file" id="vidom_avtobusy" class="form-control-file">
                    </div>
                    <div class="form-group files">
                            <label>Відомості про додаткові умови обслуговування маршруту *</label>
                            <input type="file" id="vidom_dodatk_ymovi" class="form-control-file">
                    </div>

                    <div class="form-group files">
                            <label>Відомості щодо інвестування коштів на придбання більш нових та/або комфортабельних автобусів *</label>
                            <input type="file" id="vidom_invest" class="form-control-file">
                    </div>

                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" value="Подаючи цю заяву, засвідчую, що на день її подачі автомобільного перевізника не визнано банкротом, щодо нього не порушено справу про банкротство, не проводиться процедура санації, підприємство не перебуває в стані ліквідації, а також даю згоду на укладення договору аб отримання дозволу на виконання перевезень">
                        <label class="form-check-label" for="exampleCheck1">Подаючи цю заяву, засвідчую, що на день її подачі автомобільного перевізника не визнано банкротом, щодо нього не порушено справу про банкротство, не проводиться процедура санації, підприємство не перебуває в стані ліквідації, а також даю згоду на укладення договору та отримання дозволу на виконання перевезень *</label>
                      </div>

                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div></div>
    </footer>
</body>